{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown()
  });

  $(function() {
    var div = $('.topic-view');
    var width = div.width();

    div.css('height', width * (2/3));
    $('.topic-select').css('height', width * (2/3));
});

</script>
{% endblock %}
{% block content %}
<div class="robot-container">
  <div class="topic-select container">
    <ul class="list-group">
      {{for }}
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>

  <img class="topic-view" src="https://i.imgur.com/mGJI4WY.jpg"></img>
</div>
{% endblock %}
